@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Alegreya', serif;
}

@layer base {
  :root {
    --background: 240 100% 98.5%;
    --foreground: 258 25% 25%;
    --card: 0 0% 100%;
    --card-foreground: 258 25% 25%;
    --popover: 0 0% 100%;
    --popover-foreground: 258 25% 25%;
    --primary: 258 60% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 67% 97%;
    --secondary-foreground: 258 25% 25%;
    --muted: 240 67% 97%;
    --muted-foreground: 258 15% 55%;
    --accent: 283 44% 82%;
    --accent-foreground: 258 25% 25%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 30% 92%;
    --input: 240 30% 92%;
    --ring: 258 60% 60%;
    --chart-1: 258 60% 60%;
    --chart-2: 283 44% 82%;
    --chart-3: 240 67% 97%;
    --chart-4: 300 50% 75%;
    --chart-5: 260 50% 80%;
    --radius: 0.8rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 258 25% 25%;
    --sidebar-primary: 258 60% 60%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 100% 98.5%;
    --sidebar-accent-foreground: 258 60% 60%;
    --sidebar-border: 240 30% 92%;
    --sidebar-ring: 258 60% 60%;
  }
  .dark {
    --background: 258 25% 15%;
    --foreground: 0 0% 98%;
    --card: 258 25% 18%;
    --card-foreground: 0 0% 98%;
    --popover: 258 25% 15%;
    --popover-foreground: 0 0% 98%;
    --primary: 258 70% 70%;
    --primary-foreground: 258 25% 15%;
    --secondary: 258 25% 22%;
    --secondary-foreground: 0 0% 98%;
    --muted: 258 25% 22%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 283 40% 50%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 258 25% 25%;
    --input: 258 25% 25%;
    --ring: 258 70% 70%;
    --chart-1: 258 70% 70%;
    --chart-2: 283 40% 50%;
    --chart-3: 258 25% 22%;
    --chart-4: 300 50% 55%;
    --chart-5: 260 50% 60%;
    --sidebar-background: 258 25% 18%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 258 70% 70%;
    --sidebar-primary-foreground: 258 25% 15%;
    --sidebar-accent: 258 25% 22%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 258 25% 25%;
    --sidebar-ring: 258 70% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
